code {
    font-family: Consolas,"courier new";
    color: white;
    background-color: rgb(15, 0, 54);
    padding: 2px;
    font-size: 105%;
  }

#presi-main{
  margin-right: 200px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 200px;
  transition: .5s;
  padding: 20px;
}  

.presi-p {
  text-indent: 50px;
}

.presi-img{
  max-width: 100%;
  height: auto;
  width: 100% \9;
  border-radius: 10px;
  margin: auto;
  display: block;
}

// *mobile* //
@media only screen and (max-width:800px) { 
  #presi-main{
    margin-right: 0px;
    margin-left: 0px;
  }

  h1.story{
    font-size: 2rem;
}

  p.presi-p{
      font-size: 1em;
  }   

}