@import './config';
@import './contact';
@import './about';
@import './presentation';

html,
body{ 
    height: 100%;}

body{
    background: var(--clr-grey-10);
    font-family: 'Monsterrat', sans-serif;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 4rem;
    padding: 5px;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    padding: 15px;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

.menu{
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.3em;
    padding: 10px;

    a{
    text-decoration: none;
    color: $secondary-color;
    }

    .clickmenu{     
        z-index: 1;     
        padding: 2em;     
        margin: -2em; 
    }
}

nav{
    .navi{
        font-size: 20px;
        left: 0px;
        height: 100%;
        width: 0; 
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: $secondary-color; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s;

        a{
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: $accent-color;
            display: block;
            transition: 0.3s;

            &:hover{
                color: $primary-color;
                font-style: italic;
            }
        
            &:visited{
            color: $third-color;
            }
        }

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            color: $accent-color;
        }
    }
}

.text-center{
    text-align: center;
}

#main{
    margin-left: 200px;
    transition: .5s;
    padding: 20px;
}


.bigimg{
    img{
        display: block;
        width: 50%;
        height: auto;
        margin-left: 0px;
        border-radius: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

 
    }
}

.welcome{
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

#welcome{
    padding-bottom: 20px;
    
    h1{
        background: var(--clr-white);
        border-radius: var(--radius);
        padding: 15px;
        padding-bottom: 20px;
    }
}

#projects{
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: repeat(autofill, 1fr);
    padding: 5px;
    grid-gap: 2em;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
 

    img{
        display: block;
        height: auto;
        width: 100%;
        border-radius: 5%;
    }
         
    .img__description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $background-hover-color;
        color: $primary-color;
        visibility: hidden;
        opacity: 0;
        border-radius: 5%;
        text-align: center;
        padding: 10px;
        font-size: calc(20px + 0.5vw);
        transition:
         opacity .2s,
         visibility .2s;
         
        .projects__btn{
            @include transition-ease; 
            opacity: 1;
            color: set-text-color($secondary-color);
            display: grid;
            grid-template-rows: 1fr 1fr 10px;
        
            &:hover {
                color: $primary-color;
            }
        }

        .projects__btn__jquery {
            @include transition-ease; 
            opacity: 1;
            color: set-text-color($secondary-color);
                    
            &:hover {
                color: $primary-color;
            }
        }

        .languages {
            font-size: calc(15px + 0.5vw)
        }
    }

        .project_wrap{
            box-shadow: 0 8px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            position: relative;
            background: var(--clr-white);
            border-radius: 5%;
            padding: 1.5rem;

                &:hover .img__description {
                visibility: visible;
                opacity: 1;
                @include transition-ease;
                }
        }

}

    footer{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        p{
        background: var(--clr-white);
        border-radius: 10%;
        padding: 1rem;
        font-family: 'Kalam', cursive;
        font-size: 1rem;
        }
    }


//
// ** mobile design **
//
@media only screen and (max-width:800px) { 
.bigimg{
    img{
        width: 100%
    }
}

.welcome{
    width: auto;
}

    h1{
        font-weight: 400;
        font-size: 3.5rem;
        padding: 5px;
        margin: 2px;
    }
    
    p{
        font-size: 1.2rem;
    }   

    .menu{
        a{
        visibility: hidden;
        }
    }

    #welcome{ 
        padding-bottom: 10px;
        
        h1{
            padding: 5px;
            padding-bottom: 10px;
        }
    }

    #main{
        margin-left: 0px;

        #projects{
            display: grid;
            grid-template-columns: 90vw;
            grid-template-rows: 70vw 70vw;
            padding: 5px;                
            grid-gap: 2em;

            .projects__btn{
                grid-template-rows: 30px 30px;
            }

            .projects__btn__alt{
                grid-template-rows: 30px 30px;
            }

            .img__description {
                font-size: 1.2rem;
            }

            .project_wrap{
                border-radius: 5%;
                padding: 6px;
            }
        }
    } 
    footer{
        position: relative;
        
    }

    //about page
    h2{
        font-size: 1.5rem
    }
    #headline{
        font-size: calc(30px + 0.5vw);
    }

    .container{
        font-size: calc(15px + 0.5vw);
        padding: 10px;  
        width: fit-content;
        display: block;

        .language {
            padding-bottom: 1em;
            text-align: center;

            .languages_used{
                padding: 0px;
            }
        }
    }

    //contact page
    #container{
        font-size: calc(15px + 0.5vw);
        padding: 5px; 
        width: 80%;        

        .social-icons{
            text-align: center;
            display: grid;
            grid-template-columns: repeat(autofill, 1fr);
        }      
    }
    #callimg{
        padding: 0.5rem;
    }
}

// ** medium sized laptop width and below ** //
//contact page //
@media only screen and (max-width:1600px){
    .social-icons{
        display: grid;
        grid-template-columns: repeat(autofill, 1fr);
        grid-template-rows: repeat(autofill, 1fr);
    }
}